html,
body {
  height: 100%;
  width: 100%;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.form-control {
  margin-bottom: 20px;
}

.container {
  margin-top: 50px;
  background-color: #fff;
  flex-grow: 1;
  min-height: 100vh;
}

.search-box {
  width: 100%;
}

@media (min-width: 992px) {

  .search-box {
    width: 50%;
  }

  .table-responsive {
    margin-top: -24px;
  }
}